# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\korin\Documents\Odabrana poglavlja razvoja programske potpore 1\Homeworks\6th homework\hw06-0036514757\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
